{{- $siteTitle := .Site.Title -}}
{{- $brand := default $siteTitle .Site.Params.brand -}}
{{- $title := $brand -}}
{{- if not .IsHome -}}
  {{- $title = printf "%s | %s" .LinkTitle $brand -}}
{{- end -}}

{{- $description := "" -}}
{{- with .Description -}}
  {{- $description = . -}}
{{- else -}}
  {{- with .Summary -}}
    {{- $description = . | plainify | htmlUnescape -}}
  {{- else -}}
    {{- $description = .Site.Params.description -}}
  {{- end -}}
{{- end -}}
{{- $description = $description | plainify | htmlUnescape | replaceRE "\\s+" " " | truncate 160 -}}

{{- $author := or .Params.author .Site.Params.author -}}
{{- $imagePath := or .Params.image .Site.Params.og_image -}}
{{- $imagePermalink := "" -}}
{{- $imageWidth := "" -}}
{{- $imageHeight := "" -}}
{{- $imageType := "" -}}
{{- with $imagePath -}}
  {{- $assetPath := printf "assets/%s" . -}}
  {{- $staticPath := printf "static/%s" . -}}
  {{- $ext := trim (path.Ext . | lower) "." -}}
  {{- if fileExists $assetPath -}}
    {{- with resources.Get . -}}
      {{- $imagePermalink = .Permalink -}}
    {{- end -}}
    {{- if ne $ext "svg" -}}
      {{- with imageConfig $assetPath -}}
        {{- $imageWidth = printf "%d" .Width -}}
        {{- $imageHeight = printf "%d" .Height -}}
      {{- end -}}
    {{- end -}}
  {{- else if fileExists $staticPath -}}
    {{- $imagePermalink = absURL . -}}
    {{- if ne $ext "svg" -}}
      {{- with imageConfig $staticPath -}}
        {{- $imageWidth = printf "%d" .Width -}}
        {{- $imageHeight = printf "%d" .Height -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- if $imagePermalink -}}
    {{- $imageType = printf "image/%s" (cond (eq $ext "jpg") "jpeg" (cond (eq $ext "svg") "svg+xml" $ext)) -}}
  {{- end -}}
{{- end -}}

<title>{{ $title }}</title>
<meta name="description" content="{{ $description }}">
{{ with $author }}<meta name="author" content="{{ . }}">{{ end }}
<meta name="robots" content="{{ if .Params.noindex }}noindex,nofollow{{ else }}index,follow,max-snippet:-1,max-image-preview:large,max-video-preview:-1{{ end }}">
<meta name="googlebot" content="{{ if .Params.noindex }}noindex,nofollow{{ else }}index,follow,max-snippet:-1,max-image-preview:large,max-video-preview:-1{{ end }}">

<link rel="canonical" href="{{ .Permalink }}">
<link rel="sitemap" type="application/xml" title="Plan du site" href="{{ "sitemap.xml" | absURL }}">
{{ range .AlternativeOutputFormats -}}
  <link href="{{ .Permalink }}" rel="{{ .Rel }}" type="{{ .MediaType.Type }}" title="{{ $siteTitle }}">
{{ end -}}

<meta property="og:locale" content="fr_FR">
<meta property="og:site_name" content="{{ $siteTitle }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
{{ with $imagePermalink }}<meta property="og:image" content="{{ . }}">{{ end }}
{{ with $imageWidth }}<meta property="og:image:width" content="{{ . }}">{{ end }}
{{ with $imageHeight }}<meta property="og:image:height" content="{{ . }}">{{ end }}
{{ with $imageType }}<meta property="og:image:type" content="{{ . }}">{{ end }}
{{ if .IsPage }}
  <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
  <meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
  {{ with $author }}<meta property="article:author" content="{{ . }}">{{ end }}
  {{ with .Section }}<meta property="article:section" content="{{ . }}">{{ end }}
  {{ range .Params.tags }}<meta property="article:tag" content="{{ . }}">{{ end }}
{{ end }}

<meta name="twitter:card" content="{{ if $imagePermalink }}summary_large_image{{ else }}summary{{ end }}">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
{{ with $imagePermalink }}<meta name="twitter:image" content="{{ . }}">{{ end }}
{{ if (or .Site.Params.twitter_url .Site.Params.x_url) }}
  {{ $twitterUser := index (split (default .Site.Params.twitter_url .Site.Params.x_url) "/") 3 }}
  <meta name="twitter:site" content="@{{ $twitterUser }}">
  <meta name="twitter:creator" content="@{{ $twitterUser }}">
{{ end }}

<meta name="application-name" content="{{ $siteTitle }}">
<meta name="apple-mobile-web-app-title" content="{{ $siteTitle }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

{{- if and (eq .Section "posts") (.Page.IsNode) -}}
  {{- $paginator := .Paginate (where .Pages "Type" "posts") -}}
  {{- if $paginator -}}
    <link rel="first" href="{{ $paginator.First.URL }}">
    <link rel="last" href="{{ $paginator.Last.URL }}">
    {{ if $paginator.HasPrev }}<link rel="prev" href="{{ $paginator.Prev.URL }}">{{ end }}
    {{ if $paginator.HasNext }}<link rel="next" href="{{ $paginator.Next.URL }}">{{ end }}
  {{- end -}}
{{- end -}}

{{- $jsonAuthor := dict "@type" "Person" "name" (default $siteTitle $author) -}}
{{- if .IsPage -}}
  {{- $json := dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "headline" .Title
    "description" $description
    "url" .Permalink
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "author" $jsonAuthor
    "publisher" (dict "@type" "Organization" "name" $siteTitle)
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
  -}}
  {{- if $imagePermalink -}}
    {{- $json = merge $json (dict "image" (slice $imagePermalink)) -}}
  {{- end -}}
  <script type="application/ld+json">{{ $json | jsonify | safeJS }}</script>
{{- else if .IsHome -}}
  {{- $json := dict
    "@context" "https://schema.org"
    "@type" "WebSite"
    "name" $siteTitle
    "alternateName" $brand
    "description" $description
    "url" .Site.BaseURL
    "inLanguage" (.Site.Language.Locale | default "fr-fr")
    "publisher" (dict "@type" "Person" "name" (default $siteTitle $author))
  -}}
  <script type="application/ld+json">{{ $json | jsonify | safeJS }}</script>
{{- end }}

{{ hugo.Generator }}
